<mat-toolbar style="background-color: rgb(233, 233, 233);position: sticky; top: 10px; left: 0; right: 0; z-index: 99; ">
  <span>SHOP</span>

  <div style="margin:0px 50px ;">
    <ul class="nav nav-tabs">
      <li class="nav-item"> 
        <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="/shop">My Store</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/product">Invontry</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/Order">Orders</a>
      </li>
    </ul>
  </div>

  <span class="example-spacer"></span>
  <!-- <button matIconButton class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button matIconButton class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button> -->
</mat-toolbar>